



<h1>Report Lost Items</h1>

<%= form_for :post, url:posts_path do |f| %>


   <p>
   <%= f.label :Item_Status %> <br>
  
   <%= f.text_field :status , :size=>"4", :value => ("Lost") %>

  
 

  <%= f.date_field :date, value: Date.today %>

  </p>

    <p>
       <%= f.label :Lost_item  %> <br>
       <%= f.text_field( :title,   {:class => 'form-control' }) %>

   


   
       <%= f.label :Contact_Name  %> <br>
       <%= f.text_field( :name, {:class => 'form-control'}) %>
       

    

    
    <%= f.label :NIT_Email %> <br>
    <%= f.text_field( :nmail, {:class => 'form-control'}) %>
   

 </p>






    <div class="f">
           
     <%= f.label :Image_of_item %>
     <%= f.file_field :image %>

    </div>

    
  

    <p>
       
      <%= f.label :Contact_info_Or_Item_info %> <br>
      <%= f.text_area( :body, {:class => 'form-control'}) %>


    </p>

    <p>
          <%= f.submit({ :class => 'btn btn-primary'}) %>
    </p>

    <% end %>