

<h1 class= "text-dark">Admin Queue</h1>

<div class = "logo" >
<%= image_tag("nitlogo.png", width:'100px',height: '100px' ) %>

</div>




<form class="d-flex" method="GET" action= "/search">
<input class="form-control me-2" type="search" placeholder="Search for an item " aria-label ="Search" name ="query" >
<button class="btn btn-danger" type="submit"> Search </button>

</form> 

</br>

<table class="table table-light table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Date of Posting</th>
      <th scope="col">Nit Mail Id</th>


      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
  
<% @posts.each do |post| %>
  <tr>
    <th scope="row"></th>
    <td><%=post.title %></td>
    <td> <%= post.date %></td>
    <td><%= post.nmail %></td>
    <td><%= link_to "Read More", post_path(post), :class => 'btn btn-primary' %></td>
  
   
    </tr>
    
    <% end %>

   
  </tbody>
  </table>


 
















<div class="card-group">



<% @posts.each do |post| %>




<div class="card" style="width: 20rem;">

<div class=" height: 200px;">
<h5 class="card-header"><%=post.title %></h5>

<div class="card" style="width: 10rem;">
<%= image_tag(post.image, class:"card-img")  %>
</div>
</div>

    
  </div>

  <% end %>

  </div>

 



     


    
    
 

 

